
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
    background-image: url("gym2.jpg");
    background-size: cover;
}

.first {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 44px;
}

.first img {
    width: 50px;
    filter: invert(100%);
    position: relative;
    left: 12px;

}

.first div {
    line-height: 19px;
    font-size: 17px;
    color: #c9bdb4;
}

.mid {
    display: block;
    width: 49%;
    /* border: 2px solid rgb(0, 255, 98); */
    margin: 7px auto;
}

.nav {
    display: inline-block;
}

.nav li {
    display: inline-block;
    font-size: 17px;
}

.nav li a {
    display: inline-block;
    padding: 2px 25px;
    text-decoration: none;
    color: rgb(249 114 108);
}

.nav li a:hover,
.nav li a.active {
    color: rgb(173 173 173);
    text-decoration: underline;
}

.last {
    /* border: 2px solid rgb(234, 0, 255); */
    display: inline-block;
    position: absolute;
    top: 21px;
    right: 45px;
}

.ct {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px 4px;
    padding: 1px 6px;
    background-color: #192028;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.ct:hover {
    background-color: rgb(64, 68, 68);
}

.contanior {
    border: 2px solid white;
    border-radius: 12px;
    width: 36%;
    padding: 35px 27px;
    margin: 67px 76px;
    ;


}

.from-group input {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    display: block;
    width: 250px;
    margin: 9px auto;
    padding: 4px 23px;
    border: 2px solid #767676;
    border-radius: 5px;
    font-size: 17px;
    box-sizing: border-box;
}

.contanior h1 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.contanior button {
    display: block;
    width: 108px;
    margin: 17px auto;
}